{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'index' %}">Home</a>
                    <span class="breadcrumb-item active">Shopping Cart</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            {% if cart_items %}
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for item in cart_items %}
                        <tr>
                            <td class="align-middle" style="width: 200px; overflow:hidden"><img src="{{item.product.imageURL}}" alt="" class="mr-2" style="width: 50px;"> {{item.product.title}} </td>
                            <td class="align-middle">${{item.product.price|floatformat:'2'}}</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus update-quantity"  data-action="remove" data-id="{{item.product.id}}">
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center quantity-input" disabled value="{{item.quantity}}">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus update-quantity"  data-action="add" data-id="{{item.product.id}}">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">${{item.get_total|floatformat:'2'}}</td>
                            <td class="align-middle"><button class="btn btn-sm btn-danger" data-id="{{item.product.id}}"><i class="fa fa-times"></i></button></td>
                        </tr>
                        {% endfor %}

                      
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Cart Summary</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom pb-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h6>Subtotal</h6>
                            <h6>${{cart.get_total_price|floatformat:'2'}}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">$ {{cart.get_total_shipping|floatformat:'2'}}</h6>
                        </div>

                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5>${{cart.Final_total|floatformat:'2'}}</h5>
                        </div>
                        {% if user.is_authenticated %}
                        <a href="{% url 'checkout' %}" class="btn btn-block btn-primary font-weight-bold my-3 py-3">Proceed To Checkout</a>
                        {% else %}
                        <div class="col mx-auto d-flex justify-content-center align-items-center m-5 jumbotron">
                            <p>You need to <a href="{% url 'login' %}?next={% url 'checkout' %}" class="text-danger">login</a> to Checkout.</p>
                        </div>
                        {% endif %}
                    
                    </div>
                </div>
            </div>
            {% else %}
            <p class="d-flex mx-auto" style="font-size: larger;">Your cart is empty.</p>
            {% endif %}
        </div>
    </div>
    <!-- Cart End -->
<script >

    document.querySelectorAll('.update-quantity').forEach(button => {
        button.addEventListener('click', function(){
            let itemID = this.getAttribute('data-id')
            let action = this.getAttribute('data-action')
            fetch('/update_cart_item/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify({
                    'itemID': itemID,
                    'action': action,
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    location.reload(); 
                }
            });
        });
     
    })

    document.querySelectorAll('.btn-danger').forEach(button => {
        button.addEventListener('click', function(){
            let itemID = this.getAttribute('data-id');
            fetch('/update_cart_item/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify({
                    'deleteBTN': true, 
                    'itemID': itemID
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    location.reload(); 
                }
            });
        });
    });

   
    
</script>


{% endblock content %}
